# Node & build
node_modules/
dist/
*.tsbuildinfo

# Env
.env
.env.local

# Editor
.DS_Store
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Tests / coverage
coverage/

# Prisma local DB
prisma/dev.db
.prisma/


# docker artifacts
docker-compose.override.yml
*.tar